<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /birthday_alarm/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /birthday_alarm/index.html [L]
</IfModule>
